.section7Main{
    margin-top: 6rem;
    width: 100%;
    height: 80vh;
    padding: 0 10%;
}
.corouselItem ul{
    display: flex;
}
.corouselItem ul li{
    list-style: none;

}
.corouselItem{
    background-color: rgb(238, 182, 113);
    height: 25rem;
    width: 90%;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.corouselItem p{
    text-align: justify;
}
@media (max-width:340px) {
    .corouselItem{
        height: 18rem;
    }
    .section7Main{
        padding: 2%;
        margin-top: 1rem;
        margin-bottom: -5rem;
    }
}