.section8Main{
    display: flex;
    background-color: #fcf2eb;
    width: 100%;
    height: 80vh;
}
.section8MainImg{
    text-align: end;
}
.section8Main img{
    width: 70%;
    height: 100%;
    min-width: 16rem;
}
.section8Main h1{
    max-width: 30rem;
    margin-top: 20%;
    margin-left: 10%;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 12px;
    font-size: 2.2rem;
}
.section8Main p{
    max-width: 40rem;
    margin-left: 10%;
    color: #656565;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}
.section8Main button{
    margin-left: 10%;
    background-color: #E67118;
    padding: 1rem 2rem;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: #E67118 solid 2px;
    transition: all 0.2s ease-in-out;
}
.section8Main button:hover{
    background-color: transparent;
    color: black;
}
@media (max-width:1050px) {
    .section8Main{
        flex-direction: column;
        height: fit-content;
    }
    .section8Main h1{
        margin-top: 2%;
    }
    .section8MainImg{
        margin-top: 1.5rem;
        text-align: center;
    }
}
@media (max-width:500px) {
    .section8Main{
        padding: 1rem 0 0;
    }
    .section8Main h1{
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 0;
        padding: 0 1rem;
    }
    .section8Main p{
        font-size: 1rem;
        text-align: justify;
        padding: 0 1rem;
        margin-left: 0;
    }
    .section8Main button{
        font-size: 1rem;
        padding: 0.8rem 1.2rem;
        margin-left: 5%;
    }
    .section8Main img{
        width: 100%;
    }
}