.productsDisplay{
    padding: 5% 6%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
}
@media (max-width:750px) {
    .productsDisplay{
        grid-template-columns: auto;
    }
}
